<div class="" ng-controller="FormController">
    <h1 class="page-header">Forms</h1>

    <ul class="nav nav-tabs" data-tabs="tabs">
        <li role="presentation" class="active"><a href="#/form">Forms</a></li>
        <li role="presentation"><a href="#/user">Fields</a></li>
    </ul>

    <div class="table-responsive">
        <table class="table table-striped">
            <thead>
            <tr>
                <th><i class="fa fa-fw fa-sort"></i>Form</th>
                <th><i class="fa fa-fw fa-sort"></i>Action</th>
                <th></th>
            </tr>
            </thead>


            <tr>
                <td><input class="form-control" ng-model="formname" type="text" name="formname" placeholder="name"/>
                </td>

                </td>
                <td style="white-space: nowrap">
                    <a href="" ng-click="addForm(formname)" class="btn btn-primary">
                        <scan class="glyphicon glyphicon-plus"></scan>
                    </a></td>

                <td style="white-space: nowrap">
                    <a href="" ng-click="selectForm(formname)" class="btn btn-success">
                        <scan class="glyphicon glyphicon-ok"></scan>
                    </a></td>


            </tr>
            <!--<h1>{{forms}}</h1>-->
            <tr ng-repeat="form in forms">
                <!--<h1>{{form}}</h1>-->
                <td><a href="" ng-click="gotoFormFields(form)">{{form.title}}</a></td>
                <td><a href="" ng-click="deleteForm($index)" class="btn btn-danger">
                    <scan class="glyphicon glyphicon-remove"></scan>
                </a></td>
                <td><a href="" ng-click="updateForm($index)" class="btn btn-warning">
                    <scan class="glyphicon glyphicon-pencil"></scan>
                </a></td>
            </tr>

            </tbody>
        </table>
    </div>
</div>