<div class="field" ng-controller="FieldController">

    <div class="col-sm-9 col-sm-offset-3 col-md-10 col-md-offset-2 main">
        <h1 class="page-header">Forms: {{selectedForm.title}}</h1>


        <ul class="nav nav-tabs" data-tabs="tabs">
            <li role="formsTab"><a href="#/form">Forms</a></li>
            <li role="fieldsTab" class="active"><a href="/#user">Fields</a></li>
        </ul>


        <div class="tab-content">
            <div id="forms" class="tab-pane fade in active">
                <div class="table-responsive">
                    <form>

                        <div ng-if="newField.typ && false" class="form-group col-xs-12" ng-repeat="(key, value) in newField[newField.type]">
                            <li>{{key}}</li>
                        </div>

                        <div class="form-group col-xs-12" ng-repeat="field in fields">
                            <div class="col-sm-7">
                                <label for="{{field.id}}">{{field.label}}</label>
                                <!--<input class="form-control" type="{{field.type}}" id="{{field.id}}">-->
                                <div ng-switch on="field.fieldType">
                                    <div class="" ng-switch-when="TEXT" id="{{field.id}}">
                                        <input class="form-control" type="{{field.type}}"  placeholder="{{field.placeholder}}">
                                    </div>
                                    <div class="" ng-switch-when="TEXTAREA">
                                        <textarea rows="6"></textarea>
                                    </div>
                                    <div class="" ng-switch-when="DATE">
                                        <input class="form-control" type="date" placeholder="{{field.placeholder}}">
                                    </div>
                                    <div class="" ng-switch-when="OPTIONS">
                                        <select class="col-xs-1 form-control">
                                            <option ng-repeat="option in field.options" value="option.value">{{option.label}}</option>
                                        </select>
                                    </div>
                                    <div class="" ng-switch-when="CHECKBOXES">
                                        <div class="checkbox" ng-repeat="option in field.options" value="option.value">
                                            <label>
                                                <input type="checkbox"> {{option.label}}
                                            </label>
                                        </div>
                                    </div>
                                    <div class="" ng-switch-when="RADIOS">
                                        <div class="radio" ng-repeat="option in field.options" value="option.value">
                                            <label>
                                                <input type="radio" name="choice" value="option.value"> {{option.label}}
                                            </label>
                                        </div>
                                    </div>
                                    <div class="" ng-switch-when="EMAIL">
                                        <input type="email" class="form-control" id="inputEmail" placeholder="{{field.placeholder}}"/>
                                    </div>
                                </div>
                            </div>
                            <div class="col-sm-3 col-sm-push-2">
                                <!--aria-hidden="true"-->
                                <a href="" class="btn btn-success"><scan class="glyphicon glyphicon-pencil" aria-hidden="true"></scan></a>
                                <a href="" class="btn btn-primary" ng-click="cloneField(field, $index)"><scan class="glyphicon glyphicon-plus" aria-hidden="true"></scan></a>
                                <a href="" class="btn btn-danger" ng-click="deleteField(field)"><scan class="glyphicon glyphicon-remove" aria-hidden="true"></scan></a>
                                <a href="" class="btn btn-success"><scan class="glyphicon glyphicon-align-justify" aria-hidden="true"></scan></a>
                            </div>
                        </div>

                        <!-- Horizontal Divider-->
                        <div class="form-group col-xs-12 line-break">
                            <hr>
                        </div>

                        <!-- Add New Fields -->
                        <div class="form-group col-xs-12 add-field">
                            <div class="col-sm-7">
                                <label for="add-new-field">Add New Field:</label>
                                <select data-ng-model="newFieldType" name="select" id="add-new-field">
                                    <option value="">No Fields Selected</option>
                                    <option value="slt">Single Line Text Field</option>
                                    <option value="mltf">Multi Line Text Field</option>
                                    <option value="date">Date Field</option>
                                    <option value="dropdown">Dropdown Field</option>
                                    <option value="checkboxes">Checkboxes Field</option>
                                    <option value="radio">Radio Buttons Field</option>
                                    <option value="email">New Email Field</option>
                                </select>
                            </div>
                            <div class="col-sm-3 col-sm-push-2">
                                <a href="" class="btn btn-primary" ng-click="addField(newFieldType)"><scan class="glyphicon glyphicon-plus" aria-hidden="true"></scan></a>
                            </div>
                        </div>
                    </form>
                    <span class="error">{{error}}</span>
                </div>
            </div>
        </div>
    </div>

</div>

