<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>

</div>

</li>
<li class="regular-search-result">
    <div class="search-result natural-search-result" data-key="2">
        <div class="biz-listing-large">
            <div class="main-attributes">
                <div class="media-block media-block--12">
                    <div class="media-avatar">
                        <div class="photo-box pb-90s">
                            <a href="/biz/piperi-mediterranean-grill-boston">
                                <img alt="Piperi Mediterranean Grill" class="photo-box-img" height="90" src="//s3-media1.fl.yelpcdn.com/bphoto/EboCXrrz-N-in58aesfYdA/90s.jpg" width="90">

                            </a>

                        </div>





</body>
</html>