<div class="col-sm-8" ng-controller="showProfileController">
 <!--   <h1 class="page-header">{{displayUser.firstName}}&nbsp{{displayUser.lastName}}</h1>
    <h2 class="">{{displayUser.email}}</h2>-->


    <div class = "page-header">
    <div class="media">
        <a class="pull-left" href="#" ng-click="showprofile(review.user.id)">
            <img class="" src="http://placehold.it/64x64" alt="">
        </a>
        <div><button class=" btn pull-right btn-info glyphicon glyphicon-ok" disabled="disabled" type="submit" ng-if="user && showfollowing!=false" class="btn btn-primary" ng-click="addtolist()">Following</button></div>
        <div><button type="submit" ng-if="user && show==true" class="btn btn-primary pull-right" ng-click="addtolist()">Follow</button></div>
        <div class="media-body">
            <div class="media-heading">
                <h3 class="media-heading">{{displayUser.firstName}}&nbsp{{displayUser.lastName}}<br/></h3>
                <h4 class="">{{displayUser.email}}</h4>
            </div>

        </div>
    </div>
    </div>

    <div><h3>Favourite Restaurants:</h3></div>
    <div ng-if="!favrestaurants">
        <h3>This user have not selected any favourite restaurant yet</h3>
    </div>
    <div class="ui-menu">
        <ul class="ylist ylist-bordered search-results">
            <li class="regular-search-result" ng-repeat="rest in favrestaurants">

                <div class="media">
                    <a class="pull-left" href="#" ng-click="gotorestaurant(res)">
                        <img class="" src="{{rest.restaurant_image_url}}" alt="">
                    </a>
                    <!--<a href="" ng-click="deleterestaurant(rest)"class="btn btn-warning pull-right"><scan class="glyphicon glyphicon-minus"></scan></a>-->

                    <div class="media-body">
                        <div class="media-heading">
                            <h3 class="media-heading"><a class="biz-name"
                                                         ng-click="gotorestaurant(res)"
                                                         href=""
                                                         data-hovercard-id="OBuR_WceYQdGntSI_3_WuA">{{rest.name}}</a></h3>

                        </div>
                        <!-- <i class="star-img stars_5" title="5.0 star rating">-->
                        <img class="offscreen" height="" src="{{rest.restaurant_rating_img_url_large}}" width=""
                             alt="5.0 star rating">
                        <!--</i>-->
                        <br/>
                        <h5>{{rest.address[0]}}<br/>
                            {{rest.address[1]}}<br/>
                            {{rest.address[2]}}<br/></h5>

                    </div>
                    <div class="media-story">
                        Phone:{{rest.phonenumber}}
                        <p class="snippet">
                            {{res.snippet_text}}
                        </p>
                    </div>

                </div>
                <hr>
            </li>
        </ul>
    </div>



<!--    <div class="table-responsive">
        <table class="table table-striped">
            <thead>
            <tr>
                <th><i class="fa fa-fw fa-sort"></i><h4>Restaurant </h4></th>
                <th><h4>Address</h4></th>
                <th><h4>Phone</h4></th>
                <th></th>
            </tr>
            </thead>
            <tr ng-repeat="rest in favrestaurants">
                <td><h5><a href="#" ng-click="gotorestaurant(rest)">{{rest.name}}</a></h5></td>
                <td><h5>{{rest.address[0]}}&nbsp{{rest.address[1]}}&nbsp{{rest.address[2]}}</h5></td>
                <td>{{rest.phonenumber}}</td>
                &lt;!&ndash;<td><a href="" ng-click=deleterestaurant(rest)"class="btn btn-warning"><scan class="glyphicon glyphicon-minus"></scan></a></td>&ndash;&gt;
            </tr>

            </tbody>
        </table>
    </div>-->

    <hr>

    <div><h3>Reviews:</h3></div>
    <ul class="ylist ylist-bordered search-results">
        <li class="regular-search-result" ng-repeat="rev in reviews">

    <div class="media">
        <a class="pull-left" href="#" ng-click="gotorestaurant(rev)">
            <img class="" src="{{rev.restaurant_image_url}}" alt="">
        </a>

        <div class="media-body">
            <div class="media-heading">
                <h3 class="media-heading"><a class="biz-name"
                                             ng-click="gotorestaurant(rev)"
                                             href=""
                                             data-hovercard-id="OBuR_WceYQdGntSI_3_WuA">{{rev.restaurant_name}}</a></h3>

            </div>
            <!-- <i class="star-img stars_5" title="5.0 star rating">-->
            <img class="offscreen" height="" src="{{rev.restaurant_rating_img_url_large}}" width=""
                 alt="5.0 star rating">
            <!--</i>-->
            <br/>
            <h5>{{rev.restaurant_address[0]}}<br/>
                {{rev.restaurant_address[1]}}<br/>
                {{rev.restaurant_address[2]}}</h5>

        </div>
        <div class="media-story">
            <p class="snippet">
                Review:{{rev.excerpt}}
            </p>
        </div>
    </div>
        <hr>
        </li>
        </ul>

<!--    <div class="row pull-left" data-ng-repeat="review in reviews">
        <div class="col-xs-12 col-sm-6 col-md-8">
            <div class="media">
                <a class="pull-left" href="" ng-click="showprofile(review.user.id)">
                    <img class="media-object" src="http://placehold.it/64x64" alt="">
                </a>

                <div class="media-body">
                    <h4 class="media-heading">{{review.user.firstname}}&nbsp{{review.user.lastname}}
                        &lt;!&ndash;<small>August 25, 2014 at 9:30 PM</small>&ndash;&gt;
                    </h4>
                    {{review.excerpt}}
                </div>
            </div>
            <hr>
        </div>
    </div>-->




<!--    <a href="" ng-click="addtolist()"class="btn btn-warning"><scan class="glyphicon glyphicon-minus"></scan></a>-->




 <!--   <form class="form-horizontal">
        <div class="form-group">
            <label for="username" class="col-sm-2 control-label">Username</label>
            <div class="col-sm-10">
                <input type="text" ng-model="user.username" class="form-control" id="username" placeholder="Username">
            </div>
        </div>


        <div class="form-group">
            <label for="inputPassword3" class="col-sm-2 control-label">Password</label>
            <div class="col-sm-10">
                <input type="password" ng-model="user.password;" class="form-control" id="inputPassword3" placeholder="Password">
            </div>
        </div>


        <div class="form-group">
            <label for="firstName" class="col-sm-2 control-label">First Name</label>
            <div class="col-sm-10">
                <input type="text" ng-model="user.firstName" class="form-control" id="firstName" placeholder="First Name">
            </div>
        </div>

        <div class="form-group">
            <label for="lastName" class="col-sm-2 control-label">Last Name</label>
            <div class="col-sm-10">
                <input type="text" ng-model="user.lastName" class="form-control" id="lastName" placeholder="Last Name">
            </div>
        </div>


        <div class="form-group">
            <label for="inputEmail3" class="col-sm-2 control-label">Email</label>
            <div class="col-sm-10">
                <input type="email" ng-model="user.email" class="form-control" id="inputEmail3" placeholder="Email">
            </div>
        </div>

        <div class="form-group">
            <div class="col-sm-offset-2 col-sm-10">
                <button type="submit" ng-click="update()" class="btn btn-default">Update</button>
            </div>
        </div>
    </form>-->

</div>