<div class="col-sm-9" ng-controller="RestaurantController">

    <div class = "page-header">

        <div class="media">
            <a class="pull-left" href="#" ng-click="showprofile(review.user.id)">
                <img class="" src="{{restaurant.image_url}}" alt="">
            </a>


            <div class="media-body">
                <div class="media-heading">
                <h3 class="media-heading">{{restaurant.name}}<br/></h3>
                    <i class="star-img stars_5" title="5.0 star rating">
                        <img class="offscreen" height="" src="{{restaurant.rating_img_url_large}}" width=""
                             alt="5.0 star rating"></i><br/>
                    <h5>{{restaurant.location.display_address[0]}}<br/>
                    {{restaurant.location.display_address[1]}}<br/>
                    {{restaurant.location.display_address[2]}}<br/></h5>
                    </div>
                    <!--<small>August 25, 2014 at 9:30 PM</small>-->

                <!--{{review.excerpt}}-->
            </div>
        </div>



 <!--   <h1>{{restaurant.name}}<br/>
        <i class="star-img stars_5" title="5.0 star rating">
            <img class="offscreen" height="30" src="{{restaurant.rating_img_url_large}}" width=""
                 alt="5.0 star rating"></i></h1>

        <h3>{{restaurant.location.display_address[0]}}<br/>
        {{restaurant.location.display_address[1]}}<br/>
        {{restaurant.location.display_address[2]}}<br/>
    </h3>-->
        </div>


<!--        {{restaurant.location.display_address[0]}}<br/>
                {{restaurant.location.display_address[1]}}<br/>
                {{restaurant.location.display_address[2]}}<br/>
                <i class="star-img stars_5" title="5.0 star rating">
                    <img class="offscreen" height="30" src="{{restaurant.rating_img_url_large}}" width=""
                         alt="5.0 star rating">
                </i>-->

    <div id="map"></div>
    <hr>

    <div ng-if="user" class="well">
                <h4>Leave a Comment:</h4>
                <form role="form" name="commentform" ng-init="setFormScope(this)">
                    <div class="form-group">
                        <textarea class="form-control" ng-model="comments" value ="comments" rows="3"></textarea>
                    </div>
                    <button type="submit" ng-click="postcomments(comments)" class="btn btn-primary">Submit</button>

                </form></div>
        <div><h3></h3></div>
    <div class="container">
        <h3 class="pull-left">Recommended Reviews:</h3>
            <div class="row pull-left" data-ng-repeat="review in reviews">
                <div class="col-xs-12 col-sm-6 col-md-8">
                <div class="media">
                    <a class="pull-left" href="" ng-click="showprofile(review.user.id)">
                        <img class="media-object" src="http://placehold.it/64x64" alt="">
                    </a>

                    <div class="media-body">
                        <h4 class="media-heading">{{review.user.firstname}}&nbsp{{review.user.lastname}}
                            <!--<small>August 25, 2014 at 9:30 PM</small>-->
                        </h4>
                        {{review.excerpt}}
                    </div>
                </div>

                <!--                <div>
                                    <dl>
                                    <a ng-click="showprofile(review.user.id)" href="" class="btn btn-link"><dt>{{review.user.firstname}}&nbsp{{review.user.lastname}}</dt></a>
                                    <blockquote>
                                    <p class="">&nbsp&nbsp&nbsp{{review.excerpt}}</p>
                                    </blockquote>
                                    </dl>
                                </div>-->
                <hr>
            </div>
        </div>
    </div>
</div>


