<div ng-controller="RestaurantController">
    <h1 class="page-header">{{restaurant.name}}</h1>

    <h1 class="page-header">{{text}}</h1>

    <h1 class="page-header">{{restaurant.location.city}}</h1>

    <div class="container">
        <div class="rating-large">
            <i class="star-img stars_5" title="5.0 star rating">
                <img class="offscreen" height="30" src="{{restaurant.rating_img_url_large}}" width="84"
                     alt="5.0 star rating">
            </i>
        </div>
        <img src={{restaurant.image_url}} class="img-responsive" alt="Cinque Terre" width="304" height="236">

        <div class="table-responsive">
            <table class="table table-striped">

                <!--<tr ng-repeat="form in forms">-->

                <!--<h2 class="page-header">{{restaurant}}</h2>-->

                <!--       <tr>
                           <h2>Location</h2>
                           <h3>{{restaurant.location.cross_street}}</h3>
                           <h3>{{restaurant.location.city}}</h3>
                           <h3>{{restaurant.location.postal_code}}</h3>
                           <h3>{{restaurant.location.state_code}}</h3>
                           <h3>{{restaurant.location.display_phone}}</h3>

                        </tr>-->
                <tr>
                    <td><a href={{restaurant.url}} class="btn btn-warning">Place Order</a>
                        <scan class="glyphicon glyphicon-pencil"></scan>
                    </td>

                </tr>


                </tbody>
            </table>
        </div>

        <div class="table-responsive">
            <table class="table table-striped">
                <tbody>

                <tr data-ng-repeat="review in reviews">
                    <td>
                        <div>
                            <a ng-click="showprofile(review.user.id)" href="" class="btn btn-link"><h1>{{review.user.firstname}}&nbsp{{review.user.lastname}}</h1></a>
                        </div>
                        <div>
                            <p class="">&nbsp&nbsp&nbsp{{review.excerpt}}</p>
                        </div>
                    </td>
                </tr>
                <tr>
                    <td>
                        <form ng-if="user" class="form-inline" role="form">
                            <div class="form-group">
                                <input class="form-control" ng-model="comments" type="text-area"
                                       placeholder="Your comments"/>
                            </div>
                            <div class="form-group">
                                <button class="btn btn-default" ng-click="postcomments(comments)">Add</button>
                            </div>
                        </form>

                    </td>
                </tr>


                </tbody>
            </table>
        </div>


        <!--
                <ul class="commentList">
                    <li ng-repeat="review in reviews">

                        <div>
                            <a href="/showprofile/:{{review.user.id}}" class="btn btn-link">{{review.user.firstname}}&nbsp{{review.user.lastname}}</a>
                        </div>
                        <div>
                            <p class="">{{review.excerpt}}</p>
                            &lt;!&ndash;<span class="date sub-text">on March 5th, 2014</span>&ndash;&gt;
                        </div>

                        &lt;!&ndash;                                      <div class="commenterImage">
                                                                  <img src={{review.user.image_url}} height="50" width="50">
                                                              </div>
                                                              <div class="commentText">
                                                                  <p class="">{{review.excerpt}}</p> <span class="date sub-text">on March 5th, 2014</span>

                                                              </div>&ndash;&gt;
                    </li>
                </ul>
        -->


    </div>
</div>

