<div class="col-sm-9" ng-controller="favouritController">
    <h1 class="page-header">Favourites</h1>



    <div class="ui-menu">
        <ul class="ylist ylist-bordered search-results">
            <li class="regular-search-result" ng-repeat="rest in favrestaurants">

                <div class="media">
                    <a class="pull-left" href="#" ng-click="gotorestaurant(res)">
                        <img class="" src="{{rest.restaurant_image_url}}" alt="">
                    </a>
                    <a href="" ng-click="deleterestaurant(rest)"class="btn btn-warning pull-right"><scan class="glyphicon glyphicon-minus"></scan></a>

                    <div class="media-body">
                        <div class="media-heading">
                            <h3 class="media-heading"><a class="biz-name"
                                                         ng-click="gotorestaurant(res)"
                                                         href=""
                                                         data-hovercard-id="OBuR_WceYQdGntSI_3_WuA">{{rest.name}}</a></h3>

                        </div>
                        <!-- <i class="star-img stars_5" title="5.0 star rating">-->
                        <img class="offscreen" height="" src="{{rest.restaurant_rating_img_url_large}}" width=""
                             alt="5.0 star rating">
                        <!--</i>-->
                        <br/>
                        <h5>{{rest.address[0]}}<br/>
                            {{rest.address[1]}}<br/>
                            {{rest.address[2]}}<br/></h5>

                    </div>
                    <div class="media-story">
                        Phone:{{rest.phonenumber}}
                        <p class="snippet">
                            {{res.snippet_text}}
                        </p>

<!--                        <a ng-if="user" href="" ng-click="addtofav(res)" class="btn btn-warning">
                            <scan class="glyphicon glyphicon-plus">Add To Favourites</scan>
                        </a>-->
                    </div>

                </div>
                <hr>
            </li>
        </ul>
    </div>



<!--

    <div class="table-responsive">
        <table class="table table-striped">
            <thead>
            <tr>
                <th><i class="fa fa-fw fa-sort"></i><h4>Restaurant</h4></th>
                <th><h4>Address</h4></th>
                <th><h4>Phone</h4></th>
                &lt;!&ndash;<th></th>&ndash;&gt;
                <th><i class="fa fa-fw fa-sort"></i><h4>Action</h4></th>
                <th></th>
            </tr>
            </thead>
            <tr ng-repeat="rest in favrestaurants">
                <td><h5><a href="#" ng-click="gotorestaurant(rest)">{{rest.name}}</a></h5></td>
                <td><h5>{{rest.address[0]}}&nbsp{{rest.address[1]}}&nbsp{{rest.address[2]}}</h5></td>
                <td><h5>{{rest.phonenumber}}</h5></td>
                <td><a href="" ng-click="deleterestaurant(rest)"class="btn btn-warning"><scan class="glyphicon glyphicon-minus"></scan></a></td>
            </tr>
            </tbody>
        </table>
    </div>-->
</div>
