<div class="" ng-controller="favouritController">
    <h1 class="page-header">Favourites</h1>

    <div class="table-responsive">
        <table class="table table-striped">
            <thead>
            <tr>
                <th><i class="fa fa-fw fa-sort"></i><h4>Restaurant</h4></th>
                <th><h4>Address</h4></th>
                <th><h4>Phone</h4></th>
                <!--<th></th>-->
                <th><i class="fa fa-fw fa-sort"></i><h4>Action</h4></th>
                <th></th>
            </tr>
            </thead>
            <tr ng-repeat="rest in favrestaurants">
                <td><h5><a href="#" ng-click="gotorestaurant(rest)">{{rest.name}}</a></h5></td>
                <td><h5>{{rest.address[0]}}&nbsp{{rest.address[1]}}&nbsp{{rest.address[2]}}</h5></td>
                <td><h5>{{rest.phonenumber}}</h5></td>
                <td><a href="" ng-click="deleterestaurant(rest)"class="btn btn-warning"><scan class="glyphicon glyphicon-minus"></scan></a></td>
            </tr>
            </tbody>
        </table>
    </div>
</div>