<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title></title>
    <!-- Bootstrap core CSS -->
    <link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css" rel="stylesheet">
    <link href="//maxcdn.bootstrapcdn.com/font-awesome/4.1.0/css/font-awesome.min.css" rel="stylesheet">
    <!-- Custom styles for this template -->
    <link href="../../../css/style.css" rel="stylesheet">
</head>
<body>
<nav class="navbar navbar-inverse navbar-fixed-top">
    <div class="container-fluid">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="home.html">Food Online</a>
        </div>
        <div id="navbar" class="navbar-collapse collapse">
            <ul class="nav navbar-nav navbar-right">
                <li><a href="#">Username</a></li>
                <li><a href="../../checkout/checkout.view.html">Checkout</a></li>
                <li><a href="#">Logout</a></li>
            </ul>
        </div>
    </div>
</nav>

<div class="container-fluid">
    <div class="row">
        <div class="col-sm-3 col-md-2 sidebar">
            <ul class="nav nav-sidebar">
                <li ><a href="home.html">Home </a></li>
                <li ><a href="../../profile/profile.view.html">Profile</a></li>
                <li ><a href="er.view.html">Place New Order</a></li>
                <li class="active"><a href="/previousorder.view.html">View Previous Orders<span class="sr-only">(current)</span></a></li>
            </ul>
        </div>
        <div class="col-sm-9 col-sm-offset-3 col-md-10 col-md-offset-2 main">
            <h1 class="page-header">Previous Orders</h1>
            <div class="table-responsive">
                <table class="table table-striped">
                    <thead>
                    <tr>
                        <th><i class="fa fa-fw fa-sort"></i>OrderId </th>
                        <th><i class="fa fa-fw fa-sort"></i>Date </th>
                        <th><i class="fa fa-fw fa-sort"></i>Items </th>
                        <th><i class="fa fa-fw fa-sort"></i>Status </th>
                    </tr>
                    <tr>
                        <td><input class="form-control" type="text" name="orderId" placeholder="OrderId"/></td>
                        <td><input class="form-control" type="text" name="date" placeholder="Date"/></td>
                        <td><input class="form-control" type="text" name="item" placeholder="Item"/></td>
                        <td><input class="form-control" type="text" name="status" placeholder="e.g.Completed"/></td>
                        <td style="white-space: nowrap">
                            <a href="order.view.html" class="btn btn-primary">
                                <scan class="glyphicon glyphicon-ok"></scan>
                            </a>

                        </td>
                    </tr>
                    </thead>
                    <tbody>
                    <tr>
                        <td>1165875</td>
                        <td>Oct 28 2015 </td>
                        <td>Cheese Pizza, Garlic Bread</td>
                        <td>Completed</td>
                        <td style="white-space: nowrap">
                            <a href="order.view.html" class="btn btn-primary">
                                <scan class="glyphicon glyphicon-ok"></scan>
                            </a>

                        </td>

                    </tr>

                    <tr>
                        <td>1165875</td>
                        <td>Oct 28 2015 </td>
                        <td>Cheese Pizza, Garlic Bread</td>
                        <td>Completed</td>
                        <td style="white-space: nowrap">
                            <a href="order.view.html" class="btn btn-primary">
                                <scan class="glyphicon glyphicon-ok"></scan>
                            </a>

                        </td>
                    </tr>
                    <!--  <tr>
                          <td>Gigling Rice Thai To Go </td>
                          <tdAsian Thai</td>
                          <td>Faculty/Admin</td>
                          <td>
                              <a href="#" class="btn btn-danger">
                                  <scan class="glyphicon glyphicon-remove"></scan>
                              </a>
                              <a href="#" class="btn btn-warning">
                                  <scan class="glyphicon glyphicon-pencil"></scan>
                              </a>

                          </td>
                      </tr>
                      <tr>
                          <td>Charlie</td>
                          <td></td>
                          <td>Faculty</td>
                          <td>
                              <a href="#" class="btn btn-danger">
                                  <scan class="glyphicon glyphicon-remove"></scan>
                              </a>
                              <a href="#" class="btn btn-warning">
                                  <scan class="glyphicon glyphicon-pencil"></scan>
                              </a>
                          </td>
                      </tr>-->

                    </tbody>
                </table>
            </div>



        </div>
    </div>
</div>


</body>
</html>