<!--<div class="col-sm-2">
</div>-->

<div class="col-sm-9 innerview" ng-controller="Homecontroller">
    <div class="ui-menu">
        <ul class="ylist ylist-bordered search-results">
            <li class="regular-search-result" ng-repeat="res in restaurants">

                <div class="media">
                    <a class="pull-left" href="#" ng-click="gotorestaurant(res)">
                        <img class="" src="{{res.image_url}}" alt="">
                    </a>

                    <div class="media-body">
                        <div class="media-heading">
                            <h3 class="media-heading"><a class="biz-name"
                                                         ng-click="gotorestaurant(res)"
                                                         href=""
                                                         data-hovercard-id="OBuR_WceYQdGntSI_3_WuA">{{res.name}}</a></h3>

                        </div>
                        <!-- <i class="star-img stars_5" title="5.0 star rating">-->
                        <img class="offscreen" height="" src="{{res.rating_img_url}}" width=""
                             alt="">
                        <!--</i>-->
                        <br/>
                        <h5>{{res.location.display_address[0]}}<br/>
                            {{res.location.display_address[1]}}<br/>
                            {{res.location.display_address[2]}}<br/></h5>

                    </div>
                    <div class="media-story">
                        Phone:{{res.display_phone}}
                        <p class="snippet">
                            {{res.snippet_text}}
                        </p>
                        <a ng-if="user" href="" ng-click="addtofav(res)" class="btn btn-warning">
                            <scan class="glyphicon glyphicon-plus">Add To Favourites</scan>
                        </a>
                    </div>

                </div>
                <hr>
            </li>
        </ul>
    </div>
</div>
</div>



















<!--
<div class="container-fluid" ng-style="{'background-image': 'url(bgimage.jpg)'}">
    <h1>Home page<h1>
-->
<!--    <div class="row">
        <div class="col-sm-3 col-md-2 sidebar">
            <ul class="nav nav-sidebar">
                <li><a href="home.html">Home</a></li>
                <li><a href="profile.html">Profile</a></li>
            </ul>
        </div>
        <div class="col-sm-9 col-sm-offset-3 col-md-10 col-md-offset-2 main">
            <h1 class="page-header">Welcome!</h1>

            <div class="divbody">
                Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nulla quam velit, vulputate eu pharetra nec, mattis ac neque. Duis vulputate commodo lectus, ac blandit elit tincidunt id. Sed rhoncus, tortor sed eleifend tristique, tortor mauris molestie elit, et lacinia ipsum quam nec dui. Quisque nec mauris sit amet elit iaculis pretium sit amet quis magna. Aenean velit odio, elementum in tempus ut, vehicula eu diam. Pellentesque rhoncus aliquam mattis. Ut vulputate eros sed felis sodales nec vulputate justo hendrerit. Vivamus varius pretium ligula, a aliquam odio euismod sit amet. Quisque laoreet sem sit amet orci ullamcorper at ultricies metus viverra. Pellentesque arcu mauris, malesuada quis ornare accumsan, blandit sed diam.
            </div>

            <div class="table-responsive">
                <table class="table table-striped">
                    <tbody>
                    <tr>
                        <td>
                            <a href="../register/customerregister.view.html" class="btn btn-danger"> Register as customer
                                <scan class="glyphicon glyphicon-ok"></scan>
                            </a>
                        </td>
                        <td>
                            <a href="../register/ownerregister.view.html" class="btn btn-danger"> Join as Owner
                                <scan class="glyphicon glyphicon-ok"></scan>
                            </a>
                        </td>
                    </tr>



                </table>


            </div>

        </div>
    </div>-->
<!--</div>-->


